/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: white;
    text-align: center;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-top: 20vh;
  }
  
  header p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  section {
    padding: 20px;
    margin: 50px 0;
  }
  
  #about {
    background-color: #3b3f46;
    border-radius: 10px;
  }
  
  #projects {
    background-color: #4f545c;
    border-radius: 10px;
  }
  
  .project {
    background-color: #6c757d;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  
  .project:hover {
    transform: scale(1.05);
  }
  
  #contact {
    background-color: #3b3f46;
    border-radius: 10px;
  }
  
  .rocket {
    position: absolute;
    width: 30px;
    height: 60px;
    background-color: #f00;
    clip-path: polygon(50% 0%, 0% 20%, 100% 20%);
    border-radius: 50%;
    transition: transform 0.1s ease-out;
  }
  
  .rocket::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 15px;
    background-color: #f39c12;
    border-radius: 50%;
    animation: flame 0.1s infinite alternate;
  }
  
  @keyframes flame {
    0% {
      transform: translateX(-50%) scaleY(1);
    }
    100% {
      transform: translateX(-50%) scaleY(1.5);
    }
  }
  